* {
  box-sizing: border-box;
}
.sheet-btn {
  background: #00ACC1;
  color: #fff;
  border: 1px solid #00ACC1;
  box-shadow: 0 0 1px #f5f5f5;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.sheet-btn:focus {
  outline: none;
}
.sheet-btn:hover,.sheet-btn:focus {
  transform: scale(1.005);
}
.spreadsheet {
  color: #252525;
  input[type="file"] {
    display: none;
  }
  .table__wrapper {
    min-height: .01%;
    overflow-x: auto;
  }
  &__search {
    margin: 0 0 15px 15px;
    padding: 5px 15px;
    font-size: 15px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    color: #252525;
  }
  &__copy {
    text-align: right;
    width: 100%;
  }
  &__table {
    &-dir {
      width: 100%;
      padding: 10px 0;
    }
    &-prev {
      width: 45%;
    }
    &-next {
      width: 45%;
    }
    &-pageno {
      width: 10%;
      display: inline-block;
      input {
        width: 100%;
        border: 1px solid #f1f1f1;
        box-shadow: 0 0 1px #f1f1f1;
        padding: 15px 0px;
        font-size: 15px;
        color: #605b5b;
        text-align: center;
      }
      input:focus {
        outline: none;
      }
    }
  }
}
.exl__table {
  border-collapse: collapse;
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  &-thead {
    tr {
      background: #00ACC1;
      color: #fff;
      th {
        border: 1px solid #d5d5d5;
        text-align: center;
        padding: 15px 7px;
      }
    }
  }
  &-tbody {
    tr {
      color: #000;
      td {
        border: 1px solid #d5d5d5;
        position: relative;
        padding: 7px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      td:focus {
        outline: none;
      }
    }
    tr:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.33);
      -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.33);
      box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.33);
    }
  }
}
.select-all {
  margin-right: 15px;
}
.select-all, .de-select, .csv__export-btn {
  padding: 5px 15px;
  margin: 0 0 15px 15px;
}
.select-all:focus, .de-select:focus {
  outline: none;
}
.alert {
  position: fixed;
  background: #fff;
  top: 5%;
  right: 5%;
  -webkit-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.75);
  padding: 25px;
  color: #252525;
  z-index: 1000;
  border-radius: 5px;
  font-size: 15px;
}
.nodata {
  text-align: center;
  color: #ff5a5a;
  font-size: 20px;
}
